# игнорировать установленные npm пакеты:
node_modules
# игнорировать загруженные через bower библиотеки
/public/vendor
!/public/vendor/*.css
!/public/vendor/*.js
# игнорируем файл credentials.js
/credentials.js
/data/*
# игнорируем css
/public/css
/public/js.min
/public/meadowlark-*
/public/rev-manifest.json
/ssl/*
