<p>Спасибо за заказ поездки в Meadowlark Travel, {{cart.billing.name}}!</p>
<p>Ваш номер бронирования: {{cart.number}}, на адрес {{cart.billing.email}} было отправлено письмо в качестве подтверждения.</p>
