<h1>Добро пожаловать в Meadowlark Travel</h1>
<h2>Выберите пакет, который желаете:</h2>
<ul>
	<li><a href="/vacation/hood-river-day-trip">Дневное путешествие по реке Худ</a></li>
	<li><a href="/vacation/oregon-coast-getaway">Прогулка по берегу реки Орегон</a></li>
	<li><a href="/vacation/rock-climbing-in-bend">Скалолазание в Бэнде</a></li>
</ul>
{{> weather}}
