<h1>Спасибо!</h1>
<p>Вы только что нажали "Купить сейчас!" и мы продали Вам нашу услугу. Вы не должны нам никаких денег. Здорово, правда? Но Вы не оставили адрес, и мы не знаем, где Вы живете.</p>
<a href="/vacations">Вернуться назад</a>
